@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url("../assets/fonts/Montserrat-Regular_1.otf") format("opentype"),
    url("../assets/fonts/Montserrat-Regular_1.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url("../assets/fonts/Montserrat-Medium_1.otf") format("opentype"),
    url("../assets/fonts/Montserrat-Medium_1.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"), url("../assets/fonts/Montserrat-SemiBold_1.otf") format("opentype"),
    url("../assets/fonts/Montserrat-SemiBold_1.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"), url("../assets/fonts/Montserrat-Bold_1.otf") format("opentype"),
    url("../assets/fonts/Montserrat-Bold_1.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
