/** @import: Main. */
@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

@import "reset";
@import "vars";
@import "fonts";

/** Body. */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  font-family: Montserrat;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 100%;
  max-width: 2000px;
  position: relative;
  //   margin: 0 auto;
  padding: 0 !important;
  //   /** Mobile. */
  @media (max-width: 1300px) {
    padding: 0 25px;
  }
  //   */
}
.flex {
  display: flex;
  @media (max-width: 763px) {
    flex-direction: column;
  }
}

/** @import: Globals. */
@import "global/header";
// @import "global/footer";

// /** @import: Elements. */
// @import "elements/button";

// /** @import: Sections. */
// @import "sections/contact";

// /** @import: Pages. */
@import "pages/home";
@import "pages/posts";
// @import "pages/acquirer";
