#main-header {
  position: fixed;
  min-width: 100%;
  z-index: 1000;
  display: block;
  @media (max-width: 763px) {
    display: none;
  }

  @media (max-width: 763px) {
    display: none;
  }
  .nav-flex-wrap {
    background-color: #22202a;
    display: flex;
    z-index: 1;
    height: 80px;
  }
  .img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fbf5f5;
    min-height: 180px;
    position: relative;
    z-index: 9999;
    width: 300px;
    & :first-child {
      position: absolute;
      top: 0;
    }
    & :nth-child(2) {
      position: absolute;
      top: 80px;
    }
    .img {
      width: 150px;
      svg path {
        fill: transparent;
        stroke: black;
        stroke-width: 2;
        stroke-dasharray: 1720;
        stroke-dashoffset: 1720;
        animation: dash 1.5s linear forwards;
        animation-delay: 0.2s;
      }
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 1720;
    }
    90% {
      fill: transparent;
    }
    100% {
      stroke-dashoffset: 0;
      fill: black;
    }
  }
  .image-container-scroll {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fbf5f5;
    height: 180px;
    position: relative;
    z-index: 9999;
    width: 300px;
    animation-name: changeHeight;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    .img {
      position: absolute;
      top: 0;
      max-height: 5em;
    }
    .img > svg {
      height: 5em;
    }
    svg {
      height: 5em;
      fill: transparent;
      stroke: black;
      stroke-width: 2;
      stroke-dasharray: 1720;
      stroke-dashoffset: 1720;
      animation: dash 1.5s linear forwards;
      animation-delay: 0.2s;
    }
  }
  @keyframes changeHeight {
    0% {
      height: 180px;
    }
    100% {
      height: 5em;
    }
  }
  .item-wrap {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
    & :first-child {
      padding-left: 20px;
    }
  }
  .item {
    padding-right: 50px;
    a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 15px;
      color: white;
      font-weight: 500;
      &:hover {
        color: #881a4b;
      }
    }
    @media (max-width: 1300px) {
      padding-right: 20px;
      a {
        font-size: 11px;
      }
    }
  }
}

.section-burger {
  display: none;
  position: fixed;
  min-width: 100%;
  min-height: 60px;
  top: 0;
  transform: translateZ(1px);
  background-color: #22202a;
  z-index: 9999;
  .menu-item {
  }
  .img {
    @media (max-width: 763px) {
      position: absolute;
      width: 50px;
      left: 45%;
      top: 10px;
      svg path {
        fill: transparent;
        stroke: white;
        stroke-width: 2;
        stroke-dasharray: 1720;
        stroke-dashoffset: 1720;
        animation: dash 1.5s linear forwards;
        animation-delay: 0.2s;
      }
    }
  }
  @media (max-width: 763px) {
    @keyframes dash {
      0% {
        stroke-dashoffset: 1720;
      }
      90% {
        fill: transparent;
      }
      100% {
        stroke-dashoffset: 0;
        fill: white;
      }
    }
  }
  @media (max-width: 763px) {
    display: flex;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 15px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #881a4b;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  /* General sidebar styles */
  .bm-menu {
    background: white;
    padding: 0.5em 1.5em 0;
    font-size: 1.15em;
    height: auto !important;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 30px;
    a {
      &:hover {
        color: black;
      }
      &:active {
        color: black;
      }
    }
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
    font-size: 18px;
    padding: 10px 0;
    color: #881a4b;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
