.hero-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -4;
  background-image: url("http://3.17.190.184/wp-content/uploads/2020/01/nara2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (max-width: 763px) {
    margin-bottom: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 156%;
    height: 38%;
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}
.mediaKit {
  color: white;
  position: relative;
  background-color: #53112a;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  a {
    color: white;
  }
  &:hover {
    a {
      color: black;
    }
  }
  @media (min-width: 763px) {
    left: -4px;
  }
}
.hero-section {
  position: relative;
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-flow: column;
  z-index: 1;
  min-height: 800px;
  padding-top: 50px;
  @media (max-width: 763px) {
    margin-bottom: -10px;
    background-color: #881a4b !important;
  }
  .photo-container {
    display: flex;
  }
  .photo {
    height: auto;
    width: 100%;
    position: absolute;
  }
  .image-container {
    display: flex;
    z-index: 99;
    justify-content: flex-end;
    flex: 1;
  }
  .midia-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 50px 0;
    @media (max-width: 763px) {
      align-items: center;
    }
  }
  .midia-item-container-home {
    background-color: #881a4b;
    display: flex;
    justify-content: center;
    margin: 5px;
    border-radius: 10px;
    width: 64px;
    height: 64px;
    // padding-right: 3px;
    margin-right: 13px;
    &:hover {
      background-color: #53112a;
    }
    @media (max-width: 763px) {
      align-items: center;
      width: 35px;
      height: 35px;
      a > img {
        width: 20px;
      }
      margin-right: 5px;
      // width: 10px;
      // height: 10px;
      // img {
      //   width: 10px;
      // }
    }
  }

  .card-container {
    position: absolute;
    display: flex;
    max-width: 635px;
    padding: 30px 80px;
    bottom: -55px;
    background: red;
  }
  .card-content-container {
    color: white;
    position: relative;
    h2 {
      font-size: 50px;
      font-weight: 900;
    }
    .side-card {
      position: absolute;
      transform: rotate(270deg);
      right: -164px;
      top: 54px;
      display: flex;
      width: 200px;
      justify-content: center;
      background-color: black;
      h2 {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  .relative {
    position: relative;
    color: white;
    img {
      position: absolute;
      top: 60px;
      left: 13%;
    }

    &-title {
      position: absolute;
      top: 100px;
      left: 19%;
      font-weight: 900;
      font-size: 40px;
    }
    &-text {
      position: absolute;
      top: 200px;
      left: 19%;
      font-weight: 300;
      font-size: 18px;
      max-width: 500px;
    }

    @media (max-width: 763px) {
      &-title {
        top: -70px;
        left: 8%;
        font-size: 18px;
      }
      &-text {
        top: -30px;
        left: 8%;
        font-size: 10px;
        max-width: 250px;
      }
      img {
        width: 290px;
        top: -255px;
        left: 15px;
      }
    }
  }

  .heroRow {
    display: flex;
    flex: 1 1;
    position: relative;
  }

  .textHero {
    display: flex;
    flex-flow: column;
    padding: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 50%;
    position: relative;
    color: white;
    @media screen and (max-width: 763px) {
      position: relative;
      max-width: 100%;
      padding-bottom: 0px;
      height: fit-content !important;
      background-image: none !important;
    }
  }
  .textHero > h2 {
    font-family: Montserrat;
    @media screen and (max-width: 763px) {
      font-size: 23px !important;
    }
  }
  .textHero > p {
    @media screen and (max-width: 763px) {
      font-size: 14px !important;
      padding-top: 0px !important;
    }
  }
}
.section-daora {
  padding-top: 100px;
  @media (max-width: 763px) {
    padding: 40px 0 0;
    background-image: url("http://3.17.190.184/wp-content/uploads/2020/01/BLOG_VINHODEMAIS_FUNDOUVA.png");
    background-size: cover;
  }
  .relative {
    position: relative;
    &-uva {
      width: 100%;
      height: auto;
      position: absolute;
      z-index: -1;
      @media (max-width: 763px) {
        display: none;
      }
    }
    &-column {
      display: flex;
      flex-direction: column;
      z-index: 10;
    }
    &-category-title {
      display: flex;
      padding: 100px 0;
      align-items: center;

      h2 {
        font-weight: 900;
        color: white;
        font-size: 17px;
        padding-left: 15px;
      }
    }
    &-wrapper-title {
      display: flex;
      flex-direction: column;
      margin-left: 150px;
      margin-bottom: 50px;
      h2 {
        max-width: 600px;
        color: white;
        font-weight: 900;
      }
    }
    &-card-container {
      padding: 0 150px;
      display: flex;
      flex-direction: column;
    }
    &-card-absolute {
      display: flex;
      position: relative;
      flex-direction: column;
      a {
        color: white;
        &:hover {
          color: darkgrey;
        }
      }
    }
    &-blog-image {
      margin: 0 30px;
    }
    &-purple-card {
      position: absolute;
      top: 250px;
      left: 28px;
      width: 280px;
    }
    @media (max-width: 763px) {
      &-category-title {
        padding: 50px 0;
        align-items: center;
        h2 {
          font-weight: 900;
          font-size: 18px;
          color: white;
          padding-left: 10px;
        }
      }
      &-wrapper-title {
        margin-left: 0 !important;
        padding: 25px;
        h2 {
          font-size: 20px;
        }
      }
      &-card-container {
        padding: 0;
      }
      &-card-absolute {
        margin-bottom: 200px;
      }
    }
  }
  .flex {
    display: flex;
    @media (max-width: 763px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .post-card-category {
    background-color: #5e182d;
    border-radius: 30px;
    max-width: 40%;
    text-align: center;
    z-index: 99;
    position: absolute;
    top: -40px;
    left: 55px;
    h2 {
      font-size: 15px;
      padding: 9px 20px;
      font-weight: 300;
      color: white;
    }
    @media (max-width: 763px) {
      h2 {
        padding: 8px 10px;
        font-size: 13px;
      }
    }
  }
  .post-card-title {
    position: absolute;
    left: 55px;
    h2 {
      padding: 10px 0 15px;
      font-size: 12px;
      font-weight: 900;
      max-width: 235px;
    }
    @media (max-width: 763px) {
      top: -10px;
      h2 {
        font-size: 15px;
        padding-bottom: 15px;
      }
      p {
        font-size: 12px;
        max-width: 200px;
      }
    }
  }
  .post-content {
    padding: unset;
    line-height: 1.5em;
    max-width: 230px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    font-size: 12px;
    display: -webkit-box;
    @media (max-width: 763px) {
      font-size: 12px;
    }
  }
  .post-card-author {
    display: flex;
    position: absolute;
    left: 55px;
    top: 150px;
    color: white;
    border-top: 1px solid white;
    padding: 10px 0;
    flex: 1 1;
    width: 230px;
    span {
      font-size: 10px;
      padding-right: 30px;
      color: white;
    }
  }
  .post-card-author > span {
    padding-right: 1em;
  }
}

.section-glass {
  .glass-container {
    position: relative;
    min-height: 450px;
    @media (max-width: 763px) {
      background-image: url("http://3.17.190.184/wp-content/uploads/2020/01/taça.png");
      background-size: cover;
    }
    .background {
      width: 100%;
      height: auto;
      z-index: -1;
      @media (max-width: 763px) {
        display: none;
      }
    }
  }
  .relative {
    position: relative;
    &-aspas {
      position: absolute;
      top: 315px;
      left: 54%;
      z-index: 10;
    }
    &-card {
      position: absolute;
      top: 335px;
      left: 50%;
      z-index: 9;
    }
    &-text {
      position: absolute;
      color: white;
      font-weight: 300;
      width: 370px;
      top: 480px;
      font-size: 24px;
      left: 52%;
      z-index: 10;
      max-height: 350px;
      padding-left: 37px;
    }
    &-author {
      position: absolute;
      display: flex;
      align-items: center;
      top: 710px;
      left: 52%;
      z-index: 20;
      h2 {
        padding-left: 15px;
        font-size: 16px;
        color: white;
      }
    }
    @media (max-width: 1300px) {
      &-aspas {
        top: 200px;
      }
      &-card {
        position: absolute;
        top: 200px;
        width: 450px;
      }
      &-text {
        font-size: 22px;
        top: 351px;
        max-height: 300px;
        padding-left: 37px;
      }
      &-author {
        top: 570px;
        h2 {
          font-size: 13px;
        }
      }
    }
  }
  @media (max-width: 763px) {
    padding: 0;
    .relative {
      &-card {
        top: 25px;
        width: 235px;
        left: 50px;
      }
      &-aspas {
        top: 125px;
        width: 50px;
        left: 75px;
      }
      &-text {
        font-size: 12px;
        top: 230px;
        left: 45px;
        max-width: 200px;
      }
      &-author {
        top: 360px;
        left: 64px;
        img {
          width: 30px;
          height: 30px;
        }
        h2 {
          font-size: 10px;
        }
      }
    }
  }
}

.section-gula {
  background-color: #e3e3e3;
  .flex-wrapper {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    &-title {
      display: flex;
      flex-direction: column;
      margin-left: 150px;
    }
    &-category {
      display: flex;
      padding-bottom: 50px;
      align-items: center;
      h2 {
        font-size: 17px;
        font-weight: 900;
        padding: 0 20px;
      }
    }

    @media (max-width: 763px) {
      &-category {
        align-items: center;
        h2 {
          font-size: 20px;
        }
      }
      padding: 0;
      &-title {
        margin-left: 0;
        padding: 25px;
      }
    }
  }
  .flex {
    display: flex;
    .category {
      font-weight: 900;
      color: black;
    }
  }
  .wrapper-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      font-weight: 600;
      max-width: 500px;
      line-height: 1.45;
    }
    @media (max-width: 763px) {
      padding: 0;
      padding-bottom: 50px;
      &-title {
        font-size: 20px;
      }
    }
  }
  .card-container {
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      color: black;
      &:hover {
        color: darkgrey;
      }
    }
    &-image {
      display: flex;
      justify-content: center;
    }
    &-title-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-author-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      position: absolute;
      top: 130px;
      left: 35px;
      p {
        margin: 0;
        padding: 0 15px;
        font-size: 10px;
      }
    }
    &-wrapper {
      background-color: white;
      height: 165px;
      width: 220px;
      padding-bottom: 50px;
      box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.23);
      position: relative;
    }
    @media (max-width: 763px) {
      padding: 30px 15px;
    }
  }
}

.section-partners {
  padding-top: 50px;
  @media (max-width: 763px) {
    padding-top: 50px;
    background-image: url("http://3.17.190.184/wp-content/uploads/2020/01/chalk.svg");
    background-size: cover;
  }
  .flex-wrapper {
    display: flex;
    flex-direction: column;
    &-category {
      display: flex;
      margin-left: 150px;
      align-items: center;
    }
    @media (max-width: 763px) {
      &-category {
        margin-left: 0;
        display: flex;
        align-items: center;
        padding: 25px;
      }
      h2 {
        font-size: 20px;
        padding-left: 10px;
      }
    }
  }
  .partners-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 130px;
    justify-content: center;
    @media (max-width: 1300px) {
      padding: 150px 0 0 0;
    }
    @media (max-width: 763px) {
      padding: 0;
      padding-top: 50px;
    }

    &-container {
      margin: 100px 0;
      position: relative;
      display: flex;
      flex-direction: column;
      max-width: 250px;
      background-color: #5e183d;
      width: 100%;
      justify-content: center;
      padding: 50px 50px;
      align-items: center;
      h2 {
        font-size: 17px;
        color: white;
        font-weight: 900;
        max-width: 145px;
        text-align: center;
        padding: 15px 0;
      }
      p {
        font-size: 14px;
        color: white;
        font-weight: 300;
      }
    }

    &-logo {
      position: absolute;
      top: -100px;
      img {
        border-radius: 50%;
      }
    }
  }
}

/* .section-eno {
  @media (max-width: 763px) {
    padding: 0;
    background-image: url("http://3.17.190.184/wp-content/uploads/2020/01/chalk.svg");
    background-size: cover;
  }
  .relative {
    position: relative;
    &-uva {
      width: 100%;
      height: auto;
      position: absolute;
      z-index: -1;
      @media (max-width: 763px) {
        display: none;
      }
    }
    &-column {
      display: flex;
      flex-direction: column;
      z-index: 10;
    }
    &-category-title {
      display: flex;
      padding: 100px 0;
      align-items: center;
      h2 {
        font-weight: 900;
        color: white;
        font-size: 17px;
        padding-left: 15px;
      }
    }
    &-wrapper-title {
      display: flex;
      flex-direction: column;
      margin-left: 150px;
      margin-bottom: 50px;
      h2 {
        max-width: 600px;
        color: white;
        font-weight: 900;
      }
    }
    &-card-container {
      padding: 0 150px;
      display: flex;
      flex-direction: column;
    }
    &-card-absolute {
      display: flex;
      position: relative;
      flex-direction: column;
    }
    &-blog-image {
      padding: 0 30px;
    }
    &-purple-card {
      position: absolute;
      top: 290px;
      left: 50px;
    }
    @media (max-width: 763px) {
      &-category-title {
        padding: 50px 0;
        align-items: center;
        h2 {
          font-weight: 900;
          font-size: 18px;
          color: white;
          padding-left: 10px;
        }
      }
      &-wrapper-title {
        margin-left: 0 !important;
        padding: 25px;
        h2 {
          font-size: 20px;
        }
      }
      &-card-container {
        padding: 0;
      }
      &-card-absolute {
        margin-bottom: 200px;
        img {
          width: 350px;
          height: 200px;
        }
      }
      &-purple-card {
        top: 150px;
        left: 0;
      }
    }
  }
  .flex {
    display: flex;
    @media (max-width: 763px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .post-card-category {
    background-color: #5e182d;
    border-radius: 30px;
    max-width: 40%;
    text-align: center;
    z-index: 99;
    position: absolute;
    top: -30px;
    left: 90px;
    h2 {
      font-size: 16px;
      padding: 11px 20px;
      font-weight: 300;
      color: white;
    }
    @media (max-width: 763px) {
      left: 80px;
      h2 {
        padding: 5px 10px;
        font-size: 13px;
      }
    }
  }
  .post-card-title {
    position: absolute;
    left: 90px;
    color: white;
    h2 {
      padding: 35px 0;
      font-size: 24px;
      font-weight: 900;
      color: white;
    }
    @media (max-width: 763px) {
      top: -27px;
      h2 {
        font-size: 18px;
        padding-bottom: 15px;
      }
      p {
        font-size: 12px;
        max-width: 200px;
      }
    }
  }
  .post-content {
    padding: unset;
    line-height: 1.5em;
    max-width: 330px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    @media (max-width: 763px) {
      font-size: 12px;
      max-width: 185px;
    }
  }
  .post-card-author {
    display: flex;
    position: absolute;
    left: 90px;
    top: 225px;
    color: white;
    border-top: 1px solid white;
    padding-top: 20px;
    flex: 1 1;
    span {
      font-size: 10px;
      padding-right: 30px;
      color: white;
    }
    @media (max-width: 763px) {
      top: 100px;
      left: 80px;
      span {
        font-size: 11px;
        padding-left: 0;
      }
    }
  }
  .post-card-author > span {
    padding-right: 1em;
  }
} */

.footer {
  display: flex;
  flex: 1 1;
  width: 100%;
  background-color: #881a4b;
  min-width: 100%;
  z-index: 1000;
  min-height: 185px;
  justify-content: center;
  position: relative;
  .img {
    width: 150px;
    position: relative;
    & :first-child {
      position: absolute;
      top: 0;
    }
    & :nth-child(2) {
      position: absolute;
      top: 80px;
    }
    svg path {
      fill: white;
      stroke: white;
      stroke-width: 2;
      stroke-dasharray: 1720;
      stroke-dashoffset: 1720;
    }
  }
}
.section-eno {
  @media (max-width: 763px) {
    padding: 0;
    background-image: url("http://3.17.190.184/wp-content/uploads/2020/01/chalk.svg");
    background-size: cover;
  }
  .flex-wrapper {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    &-title {
      display: flex;
      flex-direction: column;
      margin-left: 150px;
    }
    &-category {
      display: flex;
      padding-bottom: 50px;
      align-items: center;
      h2 {
        font-size: 17px;
        font-weight: 900;
        padding: 0 20px;
        color: white;
      }
    }

    @media (max-width: 763px) {
      &-category {
        align-items: center;
        h2 {
          font-size: 20px;
        }
      }
      padding: 0;
      &-title {
        margin-left: 0;
        padding: 25px;
      }
    }
  }
  .flex {
    display: flex;
    .category {
      font-weight: 900;
      color: white;
    }
  }
  .wrapper-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      font-weight: 600;
      max-width: 500px;
      line-height: 1.45;
    }
    @media (max-width: 763px) {
      padding: 0;
      padding-bottom: 50px;
      &-title {
        font-size: 20px;
      }
    }
  }
  .card-container {
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      color: white;
      &:hover {
        color: darkgrey;
      }
    }

    &-image {
      display: flex;
      justify-content: center;
    }
    &-title-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-author-wrapper {
      display: flex;
      justify-content: center;
      color: white;
      flex-wrap: wrap;
      align-items: center;
      position: absolute;
      top: 130px;
      left: 35px;
      p {
        margin: 0;
        padding: 0 15px;
        font-size: 10px;
      }
    }
    &-wrapper {
      background-color: #5e182d;
      height: 165px;
      width: 220px;
      padding-bottom: 50px;
      box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.23);
      position: relative;
    }
    @media (max-width: 763px) {
      padding: 30px 15px;
    }
  }
}

.card-container-title-wrapper {
  h2 {
    max-width: 300px;
    padding: 35px;
    font-size: 13px;
  }
}
