.post-content {
  padding-bottom: 100px;
  .post-content-container {
    display: flex;
    justify-content: center;
    position: relative;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    img {
      z-index: 2;
      position: relative;
      @media screen and (max-width: 763px) {
        width: 355px;
        height: 468px;
      }
    }
    @media screen and (max-width: 763px) {
      padding-top: 100px;
    }
  }
  .post-card {
    display: flex;
    background-color: white;
    z-index: 10;
    margin-top: -80px;
    width: 570px;
    flex-direction: column;
    padding: 50px;
    @media screen and (max-width: 452px) {
      max-width: 95%;
    }
    hr {
      color: #461121;
      border: 2px solid;
      margin: 25px 0 50px;
    }

    &-category {
      background-color: #461121;
      border-radius: 30px;
      max-width: 40%;
      text-align: center;
      h2 {
        font-size: 16px;
        padding: 11px 20px;
        font-weight: 300;
        color: white;
      }
    }

    &-title {
      h2 {
        padding: 50px 0;
        font-size: 18px;
        font-weight: 900;
        color: #9e9599;
      }
      p {
        color: #881a4b;
        line-height: 2em;
        text-align: justify;
      }

      @media (max-width: 763px) {
        h2 {
          padding: 27px 0;
          font-size: 19px;
        }
      }
    }

    &-author {
      display: flex;
      h2 {
        font-size: 16px;
        padding-right: 30px;
        color: black;
        font-weight: 300;
      }
    }
  }
}
.background-container-post {
  padding-top: 80px;

  @media (max-width: 763px) {
    background-image: none !important;
    display: none;
    div {
      img {
        display: none;
      }
    }
  }
}

.midia-item-container-post {
  background-color: #881a4b;
  display: flex;
  justify-content: center;
  margin: 5px;
  border-radius: 10px;
  width: 64px;
  height: 64px;
  // padding-right: 3px;
  margin-right: 13px;
  right: 50px;
  top: 150px;
  position: fixed;
  &:hover {
    background-color: black;
  }
  @media (max-width: 763px) {
    align-items: center;
    width: 35px;
    height: 35px;
    right: 5px;
    top: 10px;
    a > img {
      width: 20px;
    }
    margin-right: 5px;
    // width: 10px;
    // height: 10px;
    // img {
    //   width: 10px;
    // }
  }
}
